torch==2.6.0
torchvision==0.21.0
pillow==10.3.0  # Downgraded to resolve conflict with gradio
matplotlib==3.8.2
numpy==1.26.4
gradio==5.23.2
uvicorn==0.30.6
fastapi>=0.115.2,<1.0
albumentations==1.4.0
opencv-python==4.9.0.80
tqdm==4.66.1
scipy==1.11.4
requests==2.32.3
protobuf==4.25.6
pydantic==2.9.2
seaborn==0.13.1
ffmpeg-python==0.2.0